[user]
	name = INSERT YOUR GITHUB USERNAME HERE
	email = INSERT YOUR GITHUB EMAIL ADDRESS HERE
	
[alias]
    st = status
    cim = commit -m
    cima = commit -am
    br = branch
    ch = checkout
    cob = checkout -b 
    
    unstage-all = reset HEAD .
    unstage-file = reset HEAD 
    
    soft-reset = reset HEAD~1
    hard-reset = reset --hard HEAD~1
    rollback = 
    
    untrack-file = rm --cached
